.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: ($spacing-unit * 0.25) !important;
}

.mt-2 {
  margin-top: ($spacing-unit * 0.5) !important;
}

.mt-3 {
  margin-top: ($spacing-unit * 0.75) !important;
}

.mt-4 {
  margin-top: ($spacing-unit * 1) !important;
}

.mt-5 {
  margin-top: ($spacing-unit * 1.25) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: ($spacing-unit * 0.25) !important;
}

.mb-2 {
  margin-bottom: ($spacing-unit * 0.5) !important;
}

.mb-3 {
  margin-bottom: ($spacing-unit * 0.75) !important;
}

.mb-4 {
  margin-bottom: ($spacing-unit * 1) !important;
}

.mb-5 {
  margin-bottom: ($spacing-unit * 1.25) !important;
}
