---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>

      {%- if page.modified_date -%} ~
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}

      {%- if page.author -%} •
      {% for author in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      {%- endif -%}

      <!-- minute read counter -->
      {% capture words %}
      {{ page.content | number_of_words | minus: 180 }}
      {% endcapture %}
      {% unless words contains "-" %}
      {% assign minutes = words | plus: 180 | divided_by: 180 %}
      • {{ minutes }}
      {% if minutes == 1 %}
      {{ " minute to read" }}
      {% else %}
      {{ " minutes to read" }}
      {% endif %}
      {% endunless %}
    </p>

    {% if page.tags -%}
    <ul class="post-tags-wrapper">
      {% for tag in page.tags %}
      <li class="post-tag">{{tag}}</li>
      {% endfor %}
    </ul>
    {%- endif -%}
  </header>

  <section class="article-content-container">
    <nav class="article-sidebar">
      {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc-menu" skip_no_ids=true %}
    </nav>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </section>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <div id="post-comments"></div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% contentfor script_after %}
<script src="{{ 'assets/javascripts/post_comments.js' | relative_url }}"></script>
{% endcontentfor %}