<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}

<body class="d-none m-scene">
  {%- include header.html -%}
  <main class="page-content scene_element scene_element--fadein" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {%- include footer.html -%}
</body>

{% contentblock scripts_before %}

{% assign scripts = site.default_scripts | concatArray: page.scripts %}
{% for script in scripts %}
{% assign script_path = 'assets/javascripts/' | append: script %}
<script src="{{ script_path | relative_url }}"></script>
{% endfor %}

{% contentblock script_after %}

</html>